button#run-images Run
p
	span Status: 
	span#current-status
p
	span Running: 
	span#images-running= imageInfo.isRunning
p
	span Progress: 
	span#images-progress= `${imageInfo.numImagesUploaded} of ${imageInfo.totalImagesToUpload} + images processed.`
p 
	span Images Tiled: 
	span#images-tiled= imageInfo.numTiledImages
	span , Raw Images Uploaded: 
	span#images-uploaded= imageInfo.numRawImages
